/* Content container */
.cont-about {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto;
    flex-wrap: wrap; /* Allow content to wrap on smaller screens */
}

/* Slide container */
.slide-container {
    flex: 1; /* Allow equal space */
    display: flex;
    justify-content: center;
    max-width: 438px;
    margin: 0 20px; /* Add some margin */
}

/* Slide album */
.slide-album {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Slide images */
.slide-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-images img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure images cover the area */
    border-radius: 20px;
}